@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Kantumruy :wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Nokora:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#name_phamacy {
  font-size: 10px;
}
#admin_name {
  font-size: 13px;
}
@keyframes dot-blink {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.animate-dot::after {
  display: inline-block;
  animation: dot-blink 0.5s infinite steps(1, end);
}
.style_font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.font-khr {
  font-size: 22px;
}

.noto-sans-symbols {
  font-family: "Noto Sans Symbols";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font-header {
  font-size: 30px;
}
@media print {
  body * {
    padding: 0px 5px;
    font-family: "Courier New", Courier, monospace;
    visibility: hidden;
  }
  .invoice-print-area,
  .invoice-print-area * {
    visibility: visible;
  }
  .invoice-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .print-button {
    display: none; /* Hide the print button when printing */
  }
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

@keyframes dropdown {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-dropdown {
  animation: dropdown 0.25s ease-out forwards;
}
